@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">COCKTAIL</h1>
    <h2 class="display-4">Welcome to G cocktail bar, the best option of drinks for your delight in parties</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
